<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="Stylesheet" type="text/css" href="../../Style/style.css?v=1" />
        <title>Nova - @ViewBag.Title</title>
    </head>
    <body>
        <div class="mainContent">
            @RenderBody()
        </div>
    </body>
</html>
