<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="Stylesheet" type="text/css" href="../../Style/style.css?v=1" />
        <title>Nova - @ViewBag.Title</title>
    </head>
    <body>
        <div class="mainContent">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="header">
                    <div class="logoutBtn">
                        <a href="~/User/Logout">logout</a>
                    </div>
                </div>         
            }
            @RenderBody()
        </div>
    </body>
</html>