@model Nova.Applications.Web.Mvc.Model.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administration</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
