@{
    ViewBag.Title = "Login";
}

<link type="text/css" rel="Stylesheet" href="../../Style/loginStyle.css" />

<h2>Login</h2>

@using (@Html.BeginForm("Authenticate", "User"))
{
<table class="defaultTable loginTable">
    <tr>
        <td>Username: </td>
        <td>@Html.TextBox("username")</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@Html.Password("password")</td>
    </tr>
    <tr>
        <td colspan="2" class="loginBtnCell"><input type="submit" value="Login" /></td>
    </tr>
</table>
}

<a href="Register">Register</a>