@{
    ViewBag.Title = "Create Question";
}

<h2>Create Question</h2>

@using (Html.BeginForm("SaveNew", "Question"))
{
    @Html.TextBox("QuestionText")
    <input type="submit" value="Create Question" />
}