@model IEnumerable<Nova.Core.Domain.Question>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach(var q in Model)
    {
        <tr>
            <td>
                @q.QuestionText
            </td>
            <td>
                @Html.ActionLink("Overview", "Overview", new {QuestionID = q.Id})
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {QuestionID = q.Id})
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.ActionLink("Create Question", "Create")