@model Nova.Web.Model.QuestionModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach(var q in Model.Questions.Keys)
    {
        <tr>
            <td>
                @Model.Questions[q].QuestionText
            </td>
            <td>
                @Html.ActionLink("Overview", "Overview", new {QuestionID = q})
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {QuestionID = q})
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.ActionLink("Create Question", "Create")