@model Nova.Core.Domain.Question
@{
    ViewBag.Title = "EditQuestionView";
}

<h2>EditQuestionView</h2>

@using (Html.BeginForm("Update", "Question"))
{
    @Html.TextBoxFor(q => q.Value)
    @Html.HiddenFor(q => q.Id)
    <input type="submit" value="Update Question" />
}


