@model Nova.Core.Domain.Question
@{
    ViewBag.Title = "Question Overview";
}

@Html.ActionLink("Back to Listing", "Index", default(object))

<h2>Question Overview</h2>

<h3>@Model.Value</h3>

<table class="defaultTable">
    <thead>
        <tr>
            <th>Answers</th>
        </tr>
    </thead>
    <tbody>

    @foreach(var answer in Model.Answers)
    {
        <tr>
            <td>
                @answer.Value
            </td>
        </tr>
    }
    </tbody>
</table>
